[submodule "backend"]
	path = backend
	url = https://github.com/GhulwanShihab/balmonlampungbackend
[submodule "frontend"]
	path = frontend
	url = https://github.com/GhulwanShihab/balmonlampungfrontend